<div class="container my-3">
  <div class="index__content__top row">
    <div class="col-8">
      <h1>What We Do</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus tenetur
        dolorem obcaecati fuga! Odit praesentium incidunt repellat quod expedita
        nulla dolor eum labore ad minus architecto voluptas voluptatum, error
        aperiam sed nisi? Aperiam, dignissimos! Nostrum, facere cumque error
        laborum blanditiis, totam omnis quia quo, rerum magnam beatae.
        Doloremque, fuga aliquid.
      </p>
      <button class="btn btn-primary">Call to Action >></button>
    </div>
    <div class="col-4">
      <h1>Contact Us</h1>
      <h5>Start bootstrap</h5>
      <p>145/6 Tran Ba Giao</p>
      <p>Phone: 0915280646</p>
      <a href="#">abc123@gmail.com</a>
    </div>
  </div>
  <div class="index__content_list row mt-3">
    <div class="col-4">
      <app-item></app-item>
    </div>
    <div class="col-4">
      <app-item></app-item>
    </div>
    <div class="col-4">
      <app-item></app-item>
    </div>
  </div>
</div>
