<div class="card" (click)="navigateTo()">
    <img class="card-img-top" [src]="movie?.hinhAnh" alt="" />
    <div class="card-body">
      <h4 class="card-title">Ten Phim: {{ movie?.tenPhim }}</h4>
      <p class="card-text">Detail : {{ movie?.moTa | shortcut: 20}}</p>
      <p class="card-text">Ngay khoi chieu : {{ movie?.ngayKhoiChieu }}</p>
    </div>
    <a class="btn btn-success" routerLink="/client/detail-movie" [queryParams]="{tenPhim: movie?.tenPhim, maPhim:movie?.maPhim}">chi tiet phim</a>
  </div>
  