<!-- <button class="btn btn-success">Test bootstrap</button> -->
<!-- <app-demo-com></app-demo-com> -->
<!-- <app-hello-world></app-hello-world> -->
<!-- <app-lesson></app-lesson> -->
<!-- <app-bai-tap2></app-bai-tap2> -->
<!-- <app-client></app-client> -->
<!-- <button mat-raised-button color="primary">Primary</button> -->
<!-- <br>
<br>
<mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field> -->
  <app-navbar></app-navbar>
<div style="margin-top: 50px">
  <router-outlet></router-outlet>
</div>

